@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #626262;
}

p {
  margin: 0;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
